<%- include header %>
<form method="post">
	User Name: <input type="text" name="name"/><br/>
	Password: <input type="Password" name="Password"/><br/>
	Confirm Password: <input type="Password" name="Password"/><br/>
	e-mail: <input type="email" name="email"/><br/>
	<input type="submit" value="Register"/>
</form>
<%- include footer %>